<link rel="stylesheet" href="/stylesheets/chat.css" type="text/css" />


<form id="sign-in" method="POST" action="/chat">
    <label for="chatUsername">Enter a username for the chat:</label>
    <input type="text" id="chatUsername" name="chatUsername" required/>
    <button>Submit</button>
</form>

<script>
    if('{{error}}') {
        alert('{{error}}');
    }
</script>