<link rel="stylesheet" href="/stylesheets/chat.css" type="text/css" />
<script src="/socket.io/socket.io.js"></script>

<form class="form-inline" id="chat-signin">
    <div class="form-group mx-sm-3">
      <label for="chatUsername">Chat Username:</label>
      <input type="text" class="form-control" id="chatUsername" name="chatUsername" required/>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
    <p id="error-message"></p>
</form>

<div id="chat-display">
  <div id="chat-wrapper">
    
    <div id="chat-area">
      
      <div id="chat-messages">
        <h2 style="text-align:center; color:white;"><b>Chat</b></h2>
        <hr style="border:solid 1px white">
      </div>
      
      <div id="chat-message-form">
        <div id="chat-message-form-input"><textarea id="message" placeholder="Enter Message" required></textarea></div>
        <div id="chat-message-form-button"><input type="submit" value="Send Message"></div>
      </div>
      
    </div>
    
    <div id="chat-users">
      </br>
      <h3 style="text-align:center;">Users:<span id="users-count"></span></h3>
      <hr style="border:solid 1px black; width: 80%">
      <ul id="chat-users-list"></ul>
    </div>
  </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var socket = io.connect(); 
        
        /************* Sign In *************/
        var $signInForm = $("#chat-signin");
        var $errorMessage = $("#error-message"); 
        var $chatUsername = $("#chatUsername");
        var $chatDisplay = $("#chat-display");
        
        $signInForm.submit(function(e) {
          e.preventDefault();
          
          // Sanitize
          $chatUsername.val(validator.escape($chatUsername.val().trim()));
          
          if($chatUsername.val() === "") {
            // Empty Message or just spaces
          } else {
            socket.emit('new user', $chatUsername.val(), function(data) {
              if(data) {
                // username available
                $signInForm.hide();
                $chatDisplay.show();
              } else {
                $errorMessage.html("Username is already in use.");
              }
            });
          $chatUsername.val('');
          }
          
        });
        
        
        /************* Chat *************/
        var $messageFormButton = $("#chat-message-form-button"); 
        var $message = $("#message"); 
        var $chat = $("#chat-messages"); 
        var $users = $("#users");
        
        // Updates users list as users join and leave
        socket.on('update usernames', function(data) {
          var length = data.length;
          $users.html('');
          var numUsers = $("#users-count");
          numUsers.html(length);
          
          var $usernameList = $("#chat-users-list");
          $usernameList.html('');
          for(var i = 0; i < length; i++) {
            $usernameList.append('<li>'+data[i]+'</li>');
          }
        });
        
        $messageFormButton.click(function(e) {
          
          // Sanitize
          $message.val(validator.escape($message.val().trim()));
          
            e.preventDefault(); 
            if($message.val() === "") {
              // Empty Message or just spaces
            } else {
              socket.emit('send message', $message.val()); 
              $message.val(''); 
            }
        });
        
        
        
        socket.on('new message', function(data) {
          if(!data.username) {
            // username not found, sign in required
            $signInForm.show();
            $chatDisplay.hide();
          } else {
            $chat.append('<div class="chat-message"><b>'+data.username+':</b> '+data.msg + '</div>'); 
          }
        }); 
        
    }); 
</script>
