<style>
    .yelpRow {
        width: 80%;
        padding: 10px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: 2fr 16fr 3fr;
    }
    .yelpImg {
        height: 100px;
        width: 100px;
        border: 1px solid black;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .yelpText {
        /*border: 1px solid blue;*/
        padding: 2%;
    }
    .addSelect {
        /*border: 1px solid red;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .addSelect > select {
        width: 100%;
        
    }
</style>
<div class="container">
    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h3>Entertainment</h3>

    </div>
    <div class="row">
        <form class="form-inline" id="yelp-search-form">
            <div class="form-group mx-sm-3">
                <p>What:</p><label for="term-filter" class="sr-only">Find</label>
                <input type="text" class="form-control" id="term-filter" placeholder="Type Name" required>
            </div>
            <div class="form-group mx-sm-3">
                <p>Where:</p><label for="location-filter" class="sr-only">Location</label>
                <input type="text" class="form-control" id="location-filter" placeholder="location" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

    </div>
    <div id="display"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var yelpSearchForm = $("#yelp-search-form");
            var user = new User({{{user}}});
            
            yelpSearchForm.submit(function(e) {
                e.preventDefault();
                var term = $("#term-filter").val();
                var location = $("#location-filter").val();
                
                Location.yelpSearch(term, location, 5, function(err, locationsArray) {
                    if (err) {
                        console.log(err);
                    }
                    else {
                     //   var obj = JSON.parse('{locationsArray}');
                        var display = $("#display");
                        display.html("");
                        for (var i = 0; i < locationsArray.length; i++) {
                            display.append(generateYelpListing(locationsArray[i]));
                           //display.append("</br><div>" + JSON.stringify(locationsArray[i]) + "</div>");
                        }
                    }
                });
            });
            function generateYelpListing(yelpLocation) {
                var yelpRow = document.createElement("div");
                yelpRow.setAttribute("class", "yelpRow");
                
                var yelpPhoto = document.createElement("div");
                
                // yelpPhoto.setAttribute("background-image", 'url('+yelpLocation.image_url+')');
                yelpPhoto.style.backgroundImage = "url('"+yelpLocation.image_url+"')";
                
                yelpPhoto.setAttribute("class","yelpImg");
                
                var yelpText = document.createElement("div");
                yelpText.setAttribute("class","yelpText");
                var textLink = document.createElement("a");
                textLink.setAttribute("href", yelpLocation.url);
                textLink.appendChild(document.createTextNode(yelpLocation.name));
                
                yelpText.appendChild(textLink);
                yelpText.appendChild(document.createElement("br"));
                yelpText.appendChild(document.createElement("br"));
                yelpText.append(document.createTextNode(yelpLocation.phone));
                
                var dropDownDiv = document.createElement("div");
                dropDownDiv.setAttribute("class","addSelect");
                
                var dropBox = document.createElement("select");
                for(var i = 0; i < user.vacations.length; i++){
                    var option = document.createElement("option");
                    option.appendChild(document.createTextNode(user.vacations[i].vacationTitle));
                    dropBox.appendChild(option);
                }
                dropDownDiv.appendChild(dropBox);
                yelpRow.appendChild(yelpPhoto);
                yelpRow.appendChild(yelpText);
                yelpRow.appendChild(dropDownDiv);
                return yelpRow;
            }
        });
    </script>
</div>
