<div class="container">
    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h3>Entertainment</h3>

    </div>
    <div class="row">
        <form class="form-inline" id="yelp-search-form">
            <div class="form-group mx-sm-3">
                <p>What:</p><label for="term-filter" class="sr-only">Find</label>
                <input type="text" class="form-control" id="term-filter" placeholder="Type Name" required>
            </div>
            <div class="form-group mx-sm-3">
                <p>Where:</p><label for="location-filter" class="sr-only">Location</label>
                <input type="text" class="form-control" id="location-filter" placeholder="location" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

    </div>
    <div id="display"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var yelpSearchForm = $("#yelp-search-form");
            
            yelpSearchForm.submit(function(e) {
                e.preventDefault();
                var term = $("#term-filter").val();
                var location = $("#location-filter").val();
                
                Location.yelpSearch(term, location, 5, function(err, locationsArray) {
                    if (err) {
                        console.log(err);
                    }
                    else {
                     //   var obj = JSON.parse('{locationsArray}');
                        var display = $("#display");
                        display.html("");
                        for (var i = 0; i < locationsArray.length; i++) {
                            display.append("</br><div>" + JSON.stringify(locationsArray[i]) + "</div>");
                        }
                        /*
                        var obj = JSON.parse('{locationsArray}');
                        
                        
                        */
                    }
                });
            });
        });
    </script>
</div>
