<style>
    #display {
        width: 80%;
        margin: auto;
    }

    .yelpRow {
        padding: 10px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: 2fr 16fr 3fr 1fr;
        margin: 5px;
    }

    .yelpImg {
        height: 100px;
        width: 100px;
        border: 1px solid black;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .yelpText {
        /*border: 1px solid blue;*/
        padding: 2%;
    }

    .addSelect {
        /*border: 1px solid red;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .addSelect>select {
        width: 100%;

    }
    
    .deleteBtn {
        text-align: right;
        color: red;
    }
    
    .deleteBtn:hover {
        cursor: pointer;
    }
</style>

{{!-- Font Awesome --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="jumbotron text-center" style="background-image:url(images/fav.jpeg);">
        <h3 style="color:white; font-size: 36px;">Favorites</h3>
    </div>

    <div id="display">
        <div style="text-align:center"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            $("#header-favorites-tab").addClass("curPage");
            var user = new User({{{ user }}});
            var favorites = user.favorites;

            var display = $("#display");

            // Ajax issue currently, manually load yelp data
            for (var i = 0; i < favorites.length; i++) {
                favorites[i] = new Location(favorites[i]);
                // display.append(generateYelpListing(favorites[i]));
            }

            /******* Async Fix (Wait until the load is finished) *******/
            if (favorites.length < 1) {
                display.html("");
                display.append("<h2>No Favorites Available</h2>");
            }
            else {
                // Checks the the yelp data every 1/5 second on page load
                // If any data is undefined, it hasn't loaded yet
                var loadInterval = setInterval(function() {
                    
                    // Assume true and check for anything indefined
                    var isLoaded = true;
                    for(var i = 0; i < favorites.length; i++) {
                        // If an undefined is found, it has not finished loading
                        if (typeof favorites[i].name === 'undefined') {
                            isLoaded = false;
                        }
                    }
                    
                    // If it has loaded, update the display
                    if (isLoaded) {
                        display.html("");
                        for (var i = 0; i < favorites.length; i++) {
                            var newElement = generateYelpListing(favorites[i]);
                            display.append(newElement);
                        }
                        endLoad();
                    }
                    
                }, 200);

                function endLoad() {
                    // Stops the interval check
                    clearInterval(loadInterval);
                }
            }
            /**********************************************************/



            function generateYelpListing(yelpLocation) {
                var yelpRow = document.createElement("div");
                yelpRow.setAttribute("class", "yelpRow");

                var yelpPhoto = document.createElement("div");

                // yelpPhoto.setAttribute("background-image", 'url('+yelpLocation.image_url+')');
                yelpPhoto.style.backgroundImage = "url('" + yelpLocation.image_url + "')";

                yelpPhoto.setAttribute("class", "yelpImg");

                var yelpText = document.createElement("div");
                yelpText.setAttribute("class", "yelpText");
                var textLink = document.createElement("a");
                textLink.setAttribute("href", yelpLocation.url);
                textLink.appendChild(document.createTextNode(yelpLocation.name));

                yelpText.appendChild(textLink);
                yelpText.appendChild(document.createElement("br"));
                yelpText.appendChild(document.createElement("br"));
                yelpText.append(document.createTextNode(yelpLocation.phone));

                var dropDownDiv = document.createElement("div");
                dropDownDiv.setAttribute("class", "addSelect");
                
                var dropBox = document.createElement("select");
                dropBox.onchange = function() { selectBoxChange(dropBox, yelpLocation.yelpApiId) };

                var defaultOption = document.createElement("option");
                defaultOption.appendChild(document.createTextNode("Add to..."));
                defaultOption.setAttribute("value", "Default");
                dropBox.appendChild(defaultOption);

                for (var i = 0; i < user.vacations.length; i++) {
                    var option = document.createElement("option");
                    option.appendChild(document.createTextNode(user.vacations[i].vacationTitle));
                    option.setAttribute("value", user.vacations[i].vacationId);
                    dropBox.appendChild(option);
                }

                dropDownDiv.appendChild(dropBox);
                
                var deleteButton = document.createElement("span");
                deleteButton.setAttribute("class", "deleteBtn");
                
                // Use font-awesome for X symbol
                var x = document.createElement("i");
                x.setAttribute("class", "fa fa-times");
                deleteButton.appendChild(x);
                deleteButton.onclick = function(){ deleteFavorite(yelpLocation.name, yelpLocation.yelpApiId)};
                
                yelpRow.appendChild(yelpPhoto);
                yelpRow.appendChild(yelpText);
                yelpRow.appendChild(dropDownDiv);
                yelpRow.appendChild(deleteButton);
                
                return yelpRow;
            }

            function selectBoxChange(selectBox, yelpApiId) {
                // alert("Index: " + selectBox.selectedIndex + " Value: " + selectBox.options[selectBox.selectedIndex].value);
                var index = selectBox.selectedIndex;
                var value = selectBox.options[index].value;
                if (index < 1) {
                    // Default
                }
                else {
                    // Vacations
                    // alert("This would add " + yelpApiId + " to vacation: " + value);
                    addToVacation(value, yelpApiId);
                }
            }

            function addToVacation(vacationId, yelpApiId) {
                Location.addToVacation(vacationId, yelpApiId, function(err, response) {
                    if (err) {
                        alert(err);
                    }
                    else {
                        alert(response);
                    }
                });
            }
            
            function deleteFavorite(yelpName, yelpApiId) {
                var confirmation = confirm(yelpName + " will be deleted from your favorites.\n\n Press Ok to continue or Cancel");
                if(confirmation) {
                    Location.deleteFavorite(yelpApiId, function(err,response) {
                        if(err) {
                            alert(err);
                        } else {
                            location.reload();
                        }
                    });
                }
            }
        });
    </script>
</div>
