<script> $("#header-vacations-tab").addClass("curPage");</script>

{{!-- Chat Button --}}
<form action="./chat" ><button> Go To Chat!</button></form>



<script>
    var currentUser = new User({{{user}}});
    for(var i = 0; i < currentUser.vacationsLength; i++) {
        console.log(currentUser.getVacationByIndex(i));
    }
    
</script>