<script> $("#header-vacations-tab").addClass("curPage");</script>

{{!-- Chat Button --}}
<form action="./chat" ><button> Go To Chat!</button></form>



<script>
    var currentUser = new User({{{user}}});
    for(var i = 0; i < currentUser.vacationsLength; i++) {
        console.log(currentUser.getVacationByIndex(i));
    }
    
    Vacation.createVacation("New Vacation", null, null, function(err, vacation){
       if(err) {
           
       } else {
          vacation.vacationTitle = "New Updated Vacation Title";
          vacation.pushChanges(function(err, vacation) {
              if(err){
                  
              } else {
                  vacation.
              }
          });
       }
    });
    
</script>