<!DOCTYPE html>
<html>

<head>
    <title> {{ title }} </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{!-- Favicon --}}
    <link rel="shortcut icon" href="favicon" type="image/x-icon"> {{!-- Import Jquery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {{!-- Import Bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> {{!-------- Extras --------}} {{!-- String validation and sanitization https://github.com/chriso/validator.js --}}
    <script type="text/javascript" src="/scripts/validator/validator.min.js"></script>

    <style>
        #user-signin,
        #user-creation {
            margin: 10px;
            width: 40%;
            height: 40%;
            padding: 5px;
            border: solid 1px grey;
            border-radius: 10px;
        }

        #user-signin>legend,
        user-creation>legend {
            text-align: center;
        }

        .form-btn {
            margin: 10px;
        }
    </style>
</head>

<body>

    <fieldset id="user-signin">
        <legend>User Sign-In</legend>
        <form id="user-signin-form">
            <div class="form-group mx-sm-3">
                <label for="signin-username">Username:</label>
                <input type="text" class="form-control" id="signin-username" required/>
            </div>
            <div class="form-group mx-sm-3">
                <label for="signin-password">Password:</label>
                <input type="password" class="form-control" id="signin-password" required/>
            </div>
            <button type="submit" class="form-btn btn btn-primary">Sign In</button>
        </form>
        <p id="error-message-signing"></p>
    </fieldset>

    <fieldset id="user-creation">
        <legend>User Creation</legend>
        <form id="user-creation-form">
            <div class="form-group mx-sm-3">
                <label for="create-username">Username:</label>
                <input type="text" class="form-control" id="create-username" required/>
            </div>
            <div class="form-group mx-sm-3">
                <label for="create-password">Password:</label>
                <input type="password" class="form-control" id="create-password" required/>
            </div>
            <button type="submit" class="form-btn btn btn-primary">Create Account</button>
        </form>
        <p id="error-message-creation"></p>
    </fieldset>


    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var $signInForm = $("#user-signin-form");
            var $creationForm = $("#user-creation-form");

            $signInForm.submit(function(e) {
                e.preventDefault();
                var $username = $("#signin-username");
                var $password = $("#signin-password");
                var dataToSend = {
                    'username': $username.val(),
                    'password': $password.val()
                };
                ajax("/users/login", dataToSend);
            });

            $creationForm.submit(function(e) {
                e.preventDefault();
                var $username = $("#create-username");
                var $password = $("#create-password");
                var dataToSend = {
                    'username': $username.val(),
                    'password': $password.val()
                };
                ajax("/users/create", dataToSend);
            });

            function ajax(url, dataToSend) {

                $.ajax({
                        url: url,
                        method: 'POST',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(dataToSend)
                    })
                    .done(function(response) {
                        response = JSON.parse(response);
                        if (response.error) {
                            alert(response.error);
                        }
                        else {
                            window.location.href = "/";
                        }
                    })
                    .fail(function(err) {
                        console.log("Ajax Error");
                    })
                    .always(function() {
                        // console.log( "Completed" );
                    });
            }
        });
    </script>
</body>

</html>