<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }} </title> 
        <meta name="google-site-verification" content="QUOpWQzzAI1d4mQ8O24Bc1Drq9ivUoj4oEtfWBtQgwM" />
        
        <meta charset="utf-8">
        
        {{!-- Favicon --}}
        <link rel="shortcut icon" href="favicon" type="image/x-icon">
        
        {{!-- Import Jquery --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        {{!-- Import Classes [The Order is Important!] --}}
        <script src="/classes/Task.js"></script>
        <script src="/classes/Location.js"></script>
        <script src="/classes/ToDoList.js"></script>
        <script src="/classes/Vacation.js"></script>
        <script src="/classes/User.js"></script>
        
        {{!-- Import Stylesheets --}}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script|Poiret+One">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
        
        {{!-------- Extras --------}}
        {{!-- String validation and sanitization https://github.com/chriso/validator.js --}}
        <script type="text/javascript" src="/scripts/validator/validator.min.js"></script>
    </head>
    <body>
        <button onclick="login()">Sign in with google</button>
    </body>
    <script>
        function login() {
          $.ajax({
            url: '/googleSignInScreen',
            method: 'GET',
            contentType: 'application/json',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
          })
          .done(function(response) {
            // window.open(response, "Please Sign in With Google", "width=500px,height=700px");
            // console.log(response);
            window.location.href = response;
          })
          .fail(function(err) {
            console.log("Ajax Error");
          })
          .always(function() {
            // console.log( "Completed" );
          });
        }
    </script>
</html>