<div class="container-fluid">
  <div id="vacation-title-display">{{vacationTitle}}</div>    
  <div class="row">
  {{!--  The todo list  --}}
    <div class="col-sm-6" style="background-color:lavender;">
      <h3 class="category" >To Do Lists</h3>
    <div class="barColor">
        
        <p class="sectionTItle"> Create a new Todo list</p>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="addButton">+</button>
    </div>
    <div>
       <ul id="myUL" class="toDO">
          <li class="todoList checked">Hit the gym</li>
          <li class="todoList">Meet George</li>
          <li class="todoList">Buy eggs</li>
          <li class="todoList">Read a book</li>
          <li class="todoList">Organize office</li>
       </ul>
      
    </div>
    
    <div id="id01" class="modal">
        <form class="modal-content animate">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          </div>
      
          <div class="container">
            <label><b>Title </b></label>
            <input id="myInput" type="text" placeholder="Add the title of the list" name="titleOflist" required>
            <button onclick="newElement()" type="submit">Enter</button>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          </div>
        </form>
        
      </div>
      
      <script>
      // Get the modal
      var modal = document.getElementById('id01');
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
      </script>

  </div>
    
    
    

{{!--    Entertaniment side --}}    
   <div class="col-sm-6" style="background-color:lavenderblush;">
     <h3 class="category"> Places To See</h3>
      <div class="barColor">
        
        <p class="sectionTItle"> Add a new Entertaniment</p>
        <button id onclick="window.location = '/entertainment'" style="width:auto;" class="addButton">+</button>
        
    </div>
    
    <div class="row" style="text-align: center; margin: 0px;">
  
  <div class="col-sm-4 containloc">
          
          <img src="/images/CharlieHongKong.jpg" width="100" height="100">
          
          <div class="containloc">
            <p class="details">Charlie Hong Kong</p>
            <p class="details">1141 Soquel Ave</p>
            <p class="details">Santa Cruz, CA 95062</p>
            
          </div>
          
        </div>
   
  <div class=" col-sm-4 containloc">
          
          <img src="/images/Mose.jpg" width="100" height="100">
          
          <div class="containloc">
            <p class="details">Moe’s Alley</p>
            <p class="details">1535 Commercial Way</p>
            <p class="details">Santa Cruz, CA 95065</p>
            
          </div>
          
        </div>
  
  <div class=" col-sm-4 containloc">
          
          <img src="/images/bluffs.jpg" width="100" height="100">
          
          <div class="containloc">
            <p class="details">Wilder Ranch State Park</p>
            <p class="details">1401 Coast Rd</p>
            <p class="details">Santa Cruz, CA 95060</p>
            
          </div>
          
        </div>
        
       
   </div>
   
   
   <div class="row" style="text-align: center; margin: 0px;">
  
  <div class="col-sm-4 containloc">
          
          <img src="/images/CharlieHongKong.jpg" width="100" height="100">
          
          <div class="containloc">
            <p class="details">Charlie Hong Kong</p>
            <p class="details">1141 Soquel Ave</p>
            <p class="details">Santa Cruz, CA 95062</p>
            
          </div>
          
        </div>
   
  <div class=" col-sm-4 containloc">
          
          <img src="/images/Mose.jpg" width="100" height="100">
          
          <div class="containloc">
            <p class="details">Moe’s Alley</p>
            <p class="details">1535 Commercial Way</p>
            <p class="details">Santa Cruz, CA 95065</p>
            
          </div>
          
        </div>
  
  <div class=" col-sm-4 containloc">
          
          <img src="/images/bluffs.jpg" width="100" height="100">
          
          <div class="containloc">
            <p class="details">Wilder Ranch State Park</p>
            <p class="details">1401 Coast Rd</p>
            <p class="details">Santa Cruz, CA 95060</p>
            
          </div>
          
        </div>
        
       
   </div>
   
    </div>
    
    
   
   
   
  
  
  
  
  
  
  </div>
</div>
    
