<div class="container-fluid">
  <div id="vacation-title-display">{{vacationTitle}}</div>    
  <div class="row">
  {{!--  The todo list  --}}
    <div class="col-sm-6" style="background-color:lavender;">
    <div class="barColor">
        <p> Create a new Todo list</p>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="addButton">+</button>
    </div>
    <div>
       <ul id="myUL" class="toDO">
          <li class="todoList checked">Hit the gym</li>
          <li class="todoList">Meet George</li>
          <li class="todoList">Buy eggs</li>
          <li class="todoList">Read a book</li>
          <li class="todoList">Organize office</li>
       </ul>
      
    </div>
    
    <div id="id01" class="modal">
        <form class="modal-content animate">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          </div>
      
          <div class="container">
            <label><b>Title </b></label>
            <input id="myInput" type="text" placeholder="Add the title of the list" name="titleOflist" required>
            <button onclick="newElement()" type="submit">Enter</button>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          </div>
        </form>
        
      </div>
      
      <script>
      // Get the modal
      var modal = document.getElementById('id01');
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
      </script>

  </div>
    
    
    

{{!--    Entertaniment side --}}    
   <div class="col-sm-6" style="background-color:lavenderblush;">
      <div class="barColor">
        <p> Add a new Entertaniment</p>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="addButton">+</button>
    </div>
    
   </div>
  
  </div>
</div>
    
